@media screen and (max-width:700px){
  header .container {
    display: flex;
    flex-direction: column;
  }

  .button {
    margin-top: 0.6rem;
    width: 10rem;

  }
}

@media screen and (min-width:1000px){
  .sinopse {
    width: 50%;
  }
  
}